body{
  font-family: "Inter" sans-serif;
}
h1 {
  font-size:76px;
  font-size:5.77rem;
  line-height: 1.5;
  margin: 0 0 .5em;
  text-align: left;
  margin-left: -4px;
}

.test {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.top-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 80px 96px;
  max-width: 1152px;
}

.header { 
  flex: 1 1 0;
  position: relative;
  z-index: 12;
}

img {
  height: auto;
  max-width: 100%;
}
.hand {
  display: block;
  padding: 50px 50px;
  margin: 0 auto;
  position: relative;
  animation: rotation 0.5s infinite linear alternate;
  z-index: 10;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(10deg);
  }
}

/*************FOOTER*************/
footer {
}
.footer-text {
}
.btn-light {
  color: #000000;
}
.btn-light:hover {
  color: #ffff;
  background-color: #000000;
}
